doctype html
html
  head
    // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
    // With jFlex of course :)
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Site name

    //build:css css/style.min.css
    link(rel="stylesheet" href="css/ckeditor.css" type="text/css")
    link(rel="stylesheet" href="css/jflex.css" type="text/css")
    link(rel="stylesheet" href="css/modules.css" type="text/css")
    link(rel="stylesheet" href="css/adaptive.css" type="text/css")
    link(rel="stylesheet" href="fonts/gothampro/font.css" type="text/css")
    link(rel="stylesheet" href="fonts/gothampro/style.css" type="text/css")
    link(rel="stylesheet" href="fonts/icons/font.css" type="text/css")
    link(rel="stylesheet" href="css/style.css" type="text/css")
    //endbuild

    //build:js js/main.min.js
    script(src="js/00_jquery.min.js")
    script(src="js/00_device.js")
    script(src="js/cookie.js")
    script(src="js/maskform.js")
    script(src="js/mediaqueries.js")
    script(src="js/modules.js")
    script(src="js/mobile.js")
    script(src="js/hoverflow.js")
    script(src="js/jquery.swipe.min.js")
    script(src="js/jslider.js")
    script(src="js/jflex.js")
    script(src="js/jbox.js")
    script(src="custom/js/custom.js")
    //endbuild
    <!--[if lt IE 9]>
        <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->


  body#major
    #pixelPerfectHolder
      img(src="design.jpeg").pixel-perfect.opacity20
      // img(src="960_grid_12_col.png").pixel-perfect.w1200.opacity30
    a(href='#').pixel-perfect-toggler.bg_dark-orange.circle.t_white
    .fullpage.hold
      header.pad.mb20
        .row
          .col.w3.mt-20
            a(href="#").header-logo.bg-to.contain.w100.h100
          .col.w5
            .social.social--rounded.mt20.center
              .center.inlb.mr15
                a(href="#").icon.circle.pt5.bg_blue
                  img(src="img/sm_facebook.png" width="30px" height="30px")
              .center.inlb.mr15
                a(href="#").icon.circle.pt5.bg_blue
                  img(src="img/sm_instagram.png" width="30px" height="30px")
              .center.inlb.mr15
                a(href="#").icon.circle.pt5.bg_blue
                  img(src="img/sm_twitter.png" width="30px" height="30px")
              .center.inlb.mr15
                a(href="#").icon.circle.pt5.bg_blue
                  img(src="img/sm_vk.png" width="30px" height="30px")
              .center.inlb.mr15
                a(href="#").icon.circle.pt5.bg_red
                  img(src="img/sm_youtube.png" width="30px" height="30px")
          .col.w4
            .globalsearch.mt20#globalsearch
              .block-search#block-search-form
                // .block-title тренинг заработок в интернете
                .content
                  form(action="")#search-block-form
                    .container-inline
                      .form-item.form-type-textfield.form-item-search-block-form
                        input.brd.b.s_dark-grey.h40.lh40.form-text.form-autocomplete.ui-autocomplete-processed.ui-autocomplete-input(placeholder="тренинг заработок в интернете" title="Введите ключевые слова для поиска." type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" data-sa-theme="minimal" autocomplete="off")
                      .form-actions.form-wrapper#edit-actions--10
                        input.form-submit.btn.transparent(type="submit" id="edit-submit--2" name="op" value="")
        .row.mt20
          .col.w3.right.pr20.mt10
            a(href="#").t_dark-grey
              i.icon.icon-skype.biggest.mr10.middle
              span Связаться с нами
          .col.w5.center
            a.btn.centrify.inlb.simple.brd.s_red.upp.btn-icon.btn-icon-left.ph40.big.trans(href="#")
              i.icon.icon-tag.bigger.t_red
              span.smaller Партнерская программа
          .col.w4
            .menu.inline.fz90.hide-title.mt15
              ul.menu.t_grey
                li.leaf
                  a.active.t_red(href="#") Главная
                li.leaf
                  a(href="#") О нас
                li.leaf
                  a(href="#") Новости
                li.leaf
                  a(href="#") Отзывы
                li.leaf
                  a(href="#") Контакты

      // slider
      .row.mt0
        .page-slideshow.table.h230.dark.jslider.slidex.nopaginator.clr(data-slider-effect="slidex" data-slider-speed="5000")
          .slider-content.h230
            .slide.bg-to.bg-center.bg-top.cover(style="background-image: url('custom/img/slider-bg.png')")
              .row.middle
                .col.w1
                .col.w6
                  .upp.fz120.bold.t_white Добро пожаловать на сайт клуба бизнес-инвесторов
                .col.w3
                  a.btn.simple.t_white.big(href="#") Подбробнее

      // slider menu
      .row.mt-20
        .col.w6
          .menu.main.expanded
            li
              a(href="#") Школа инвестора
        .col.w6

      // about text
      .row.pad.pt60.pb50
        .col.w1
        .col.w1
          img(src="custom/img/about_person.png")
        .col.w3
          p.lh15em.fz120 <span class="t_red">ProfitoMania</span>  - это сообщество людей, чьи интересы объединяет успешное инвестирование капитала.
        .col.w6.brd.l.s_red.pl20.ml20.small.t_dark-grey
          p
            | Многие мечтают о пассивном заработке. Мы знаем, что действительно работает. <br>
            | Мы делимся приобретенными знаниями  со всеми желающими в формате тренгов и вебинаров.
          p
            | Почувствуй и ты вкус новой жизни, вступив в клуб успежных инвесторов.
            | Будь в курсе всех событий.


      // benefits
      .row.pad.pt0
        .col.w12
          .bold.center.fz120 Клуб открывает для своих участников следующие возможности:
      .row.pad.pb15.t_grey.small.bold
        .col.w1
        .col.w1.center
          img(src="custom/img/benefit_checkmark.png")
        .col.w4.pt5 Пройти обучение лучшим практикам в Школах Инвестора и Школе YouTube
        .col.w1.center
          img(src="custom/img/benefit_checkmark.png")
        .col.w4.pt5 Получать все актуальную информацию о трендах и популярных инвестиционных проектах
      .row.pad.pb15.t_grey.small.bold
        .col.w1
        .col.w1.center
          img(src="custom/img/benefit_checkmark.png")
        .col.w4.pt5 Быть в курсе всех тенденций в сфере инвестиций и заработка в интернете
        .col.w1.center
          img(src="custom/img/benefit_checkmark.png")
        .col.w4.pt5 Стать успешным инфо-бизнесменом и обрести финансовую свободу и независимость
      .row.mt40
        .col.w11.right
          a.t_red.small.bold(href="#")
            i.icon.icon-calendar.biggest.mr10.middle
            span Смотреть календарь мероприятий

      // events
