header {position:relative; z-index:3;}

.headfunc {min-height:50px; height:50px; display:block; padding-bottom:20px; position:relative; z-index:2;}
.headinfo {padding-top:30px; padding-bottom:30px;}
.headinfo .col {height:30px;}
.headinfo .telline, .headinfo .contact .btn {display:inline-block;}
.contact .telline {position:relative; margin:0 15px 0 0;}
.headinfo .contact .telline {top:3px;}

.logo {display:block; width:173px; height:30px; background:url('../img/logo.png') no-repeat center transparent; background-size:contain;}

.cart-link {display:inline-block; font-size:12px;}

.menu.catalog .title {display:none;}


.globalsearch input.form-submit {color:#fff!important; text-shadow:1px 1px 0 rgba(0,0,0,0.1);
	background: -moz-linear-gradient(top,  #2888aa 1%, #2d6b81 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2888aa), color-stop(99%,#2d6b81));
	background: -webkit-linear-gradient(top,  #2888aa 1%,#2d6b81 99%);
	background: -o-linear-gradient(top,  #2888aa 1%,#2d6b81 99%);
	background: -ms-linear-gradient(top,  #2888aa 1%,#2d6b81 99%);
	background: linear-gradient(to bottom,  #2888aa 1%,#2d6b81 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2888aa', endColorstr='#2d6b81',GradientType=0);
	box-shadow:none; text-shadow:none;}

.globalsearch input.form-submit:hover {
	color:#fff!important;
	background: -moz-linear-gradient(top,  #2f8fb1 1%, #316e84 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2f8fb1), color-stop(99%,#316e84));
	background: -webkit-linear-gradient(top,  #2f8fb1 1%,#316e84 99%);
	background: -o-linear-gradient(top,  #2f8fb1 1%,#316e84 99%);
	background: -ms-linear-gradient(top,  #2f8fb1 1%,#316e84 99%);
	background: linear-gradient(to bottom,  #2f8fb1 1%,#316e84 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f8fb1', endColorstr='#316e84',GradientType=0);
	box-shadow:none;
}


.product.teaser .add-to-cart .node-add-to-cart {
	text-decoration:none;
	cursor:pointer;
    display:table;
    border-radius:3px;
    font-size:14px;
    height:45px;
    line-height:42px;
    outline:none;
    padding:0 20px;
	margin:20px auto 0;
	color:#fff!important; text-shadow:1px 1px 0 rgba(0,0,0,0.2);
	background: #ff860e;
	background: -moz-linear-gradient(top,  #edaa00 1%, #ff860e 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff860e), color-stop(99%,#ff860e));
	background: -webkit-linear-gradient(top,  #edaa00 1%,#ff860e 99%);
	background: -o-linear-gradient(top,  #edaa00 1%,#ff860e 99%);
	background: -ms-linear-gradient(top,  #edaa00 1%,#ff860e 99%);
	background: linear-gradient(to bottom,  #edaa00 1%,#ff860e 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edaa00', endColorstr='#ff860e',GradientType=0);
	box-shadow: 0 -2px 0 0 #ff6200 inset; text-shadow:none;
}

.product.teaser .add-to-cart .node-add-to-cart:hover, .product.teaser .add-to-cart .node-add-to-cart.already {
	background: #ff8c19;
	background: -moz-linear-gradient(top,  #ffb700 1%, #ff8c19 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff8c19), color-stop(99%,#ff8c19));
	background: -webkit-linear-gradient(top,  #ffb700 1%,#ff8c19 99%);
	background: -o-linear-gradient(top,  #ffb700 1%,#ff8c19 99%);
	background: -ms-linear-gradient(top,  #ffb700 1%,#ff8c19 99%);
	background: linear-gradient(to bottom,  #ffb700 1%,#ff8c19 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb700', endColorstr='#ff8c19',GradientType=0);
	box-shadow: 0 -2px 0 0 #ff6e13 inset;
}


.menu .named i {background-color:#c60c30;}
.menu .named i:after {color:#c60c30;}

/* 
.description {font-family:'gothamproreg';}

.tabs-nav {font-family:'gothampromed'}

.advantages {font-family:'gothamprobold'; font-size:14px;}
*/

.globalsearch .form-actions:before {color:#fff;}

.productsfront {margin:30px 0 0;}
.product-grid .title {font-size:18px;}

/* tabs button styling */

.tabs-nav .tab-name {color:#444; text-decoration:none;}

/* product all */

.product .uc-out-of-stock-instock, .uc_out_of_stock_throbbing {display:none!important;}


/* product teaser */

.product.teaser {text-align:center; padding:40px 0 0; position:relative; height:400px; z-index:0; margin-bottom:50px;}
.product.teaser:hover {z-index:1;}
.product.teaser p {display:none;} /* temporary fix - need to be issued */
.product.teaser .data {position:relative; z-index:1; border-radius:5px; overflow:hidden; position:relative; z-index:0; top:-40px; background-color:#fff; padding:10px 10px 20px;}
.product.teaser .data:hover {box-shadow:0 2px 10px rgba(0,0,0,0.15);}

.product.teaser .link {text-decoration:none; display:block;}
.product.teaser .photo {margin:0 auto 20px; display:block; position:relative; z-index:1;}
/* .product.teaser .photo:before {content:''; width:20px; height:20px; position:absolute; z-index:0; left:50%; top:50%; background:url('../img/loading.gif') no-repeat center #fff; margin:-17px 0 0 -16px;} */
.product.teaser .title {font-size:14px; margin:0 20px 20px; min-height:40px; color:inherit; border:none; height:40px;
    line-height: 18px; overflow:hidden;}
.product.teaser .title.active {overflow:inherit; height:inherit;}
.product.teaser .prices .additional {margin:10px 0 0;}
.product.teaser .prices .current {font-size:18px; color:#444;}
.product.teaser .prices .current.icon:after {margin:0 0 0 5px; font-size:14px; font-weight:normal;}
.product.teaser .sku {color:#777; font-size:12px; margin:30px 0 10px;}
.product.teaser.compact .add-to-cart, .product.teaser.compact .sku {display:none;}
.product.teaser .add-to-cart .list-add-to-cart {margin:0 auto;}

.product .prices {margin:0 0 10px; cursor:default;}
.product .prices .old {color:#777; position:relative; font-size:14px;}
.product .prices .old:after {content:''; height:1px; display:block; position:absolute; background-color:#777; z-index:1; width:100%; padding:0 5px; left:-5px; top:50%;}

.product .prices .discount {font-size:12px; /* font-family:'gothamprobold'; */ color:#fff; padding:3px 5px; background-color:#eba900; border-radius:3px; margin:0 0 0 10px; position:relative;}

/* product markers */

.product .marker {position:absolute; z-index:2; top:0; left:50%; margin-left:-25px; cursor:default; font-size:12px; padding-top:3px;}
.marker.icon {height:20px; display:block;}
.marker.icon:before {left:-25px; position:absolute; font-size:22px; top:0;}
.marker.new {color:#eba900;}
.marker.popular {color:#ff0000;}
.marker.advice {color:#ff0000;}
.marker.sale {color:#ff0000;}

.id-rub:after {content:'\e902';}
.marker.new:before {content:'\e908';} /* new */
.marker.popular:before {content:'\e909';} /* popular */
.marker.advice:before {content:'\e901';} /* advice */
.marker.sale:before {content:'\e900';} /* sale */


/* cart block */

.cart-block .total {cursor:default; position:relative; z-index:1;}


/* catalog linear display mode */

.displaymode.linear .view.catalog-full.switcher .row .col {width:100%!important; float:none;}


/* user auth form */

#user-login, #user-register-form, #user-pass {padding:30px; background-color:#fff; box-shadow:0 2px 10px rgba(0,0,0,0.15);}